@import "../../../index.css";

.luterjs-router_sector {
    min-width: 250px;
    min-height: 200px;
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    background: var(--PrimaryBg);
    border-radius: var(--BorderRadius-Small);
    position: relative;
    resize: both;
}
.luterjs-router_sector-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px;
    border-bottom: var(--BorderHeight-Standard) var(--HoverAccent) solid;
}
.luterjs-router_sector-header-title {
    color: var(--PrimaryColor);
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin: 0;
}
.luterjs-router_sector-content {
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    height: calc(100% - 50px);
}
.luterjs-router_sector-content::-webkit-scrollbar {
    width: 5px;
}
.luterjs-router_sector-content::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: var(--SecondaryColor);
}
/* ----------------| Extras |---------------- */
.grab-elementor {
    cursor: grab;
    max-width: 54px;
    max-height: 14px;
    min-width: 24px;
    min-height: 14px;
    padding: 0 6.5px 0 0;
    margin: 0 0 0 13px;
    width: 24px;
    height: 14px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
.grab-elementor:active {
    cursor: grabbing;
}
.grab-elementor-item {
    width: 5px;
    height: 5px;
    border-radius: var(--BorderRadius-XSmall);
    background-color: var(--HoverAccent);
}