@import "../../../index.css";

.luterjs-router_selector {
    position: relative;
}
.luterjs-router_selector-item {
    cursor: pointer;
    width: 54px;
    height: 32px;
    box-sizing: border-box;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--SecondaryAccent);
    border-radius: var(--BorderRadius-Small);
    transition: all var(--StandarAnimationSmall) ease;
}
.luterjs-router_selector-item:hover {
    background-color: var(--HoverAccent);
}
.luterjs-router_selector-item-image,
.luterjs-router_selector-item-icon {
    display: grid;
    place-content: center;
    pointer-events: none;
    border-radius: var(--BorderRadius-XSmall);
}
.luterjs-router_selector-item-icon {
    width: 12px;
    height: 25px;
}
.luterjs-router_selector-item-image-item {
    border-radius: var(--BorderRadius-Small);
}
/* ----------------| Items Selectables |---------------- */
.luterjs-router_selector-items_selectables {
    z-index: 1;
    position: absolute;
    top: 150%;
    left: -5px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    background-color: var(--HoverAccent);
    border-radius: var(--BorderRadius-Small);
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.luterjs-router_selector-items_selectables.active {
    display: flex;
}
.luterjs-router_selector-items_selectables-item {
    cursor: pointer;
    display: flex;
    width: fit-content;
    margin: 5px;
    height: 30px;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--BorderRadius-XSmall);
}
.luterjs-router_selector-items_selectables-item:hover {
    background-color: var(--SecondaryAccent);
}
.luterjs-router_selector-items_selectables-item-image,
.luterjs-router_selector-items_selectables-item-span {
    pointer-events: none;
}
.luterjs-router_selector-items_selectables-item-span {
    margin: 0 0 0 5px;
    color: var(--PrimaryColor);
    font-weight: 700;
}